.erp-hero {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.hero-bg {
  position: absolute;
  top: 0; left: 0;
  width: 80%; height: 60%;
  background-size: cover;
  background-position: center;
  filter: blur(px) brightness(1);
  z-index: 1;
}
.hero-overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}
.erp-workflow .card i {
  color: #fff;
}
.erp-workflow .card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

